{% extends 'UWEFlix/layout.html' %}

{% block content %}

<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Club Name</th>
            <th>Club Representative</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for club in clubs %}
        <tr>
            <td>{{ club.name }}</td>
            <td>
                {% for club_rep in club_reps %}
                {% if club_rep.club.id == club.id %}
                {{ club_rep.user.first_name }} {{ club_rep.user.last_name }}
                {% endif %}
                {% endfor %}
            </td>
            <td>
                {% if iscinmanager %}
                    <a href="{% url 'update_club' club_id=club.id %}" class="btn btn-primary btn-sm">Edit Details</a>
                {% endif %}
                <button type="button" class="btn btn-primary btn-sm" onclick="alert('This function is not yet implemented.')">Contact Rep</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
