{% extends 'UWEFlix/layout.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>{{ showing.film.title }}</h1>
            <p>{{ showing.film.trailer_description }}</p>
        </div>
        <div class="col-md-6">
            <table class="table">
                <tr>
                    <th>Available Seats:</th>
                    <td>{{ available_seats }}</td>
                </tr>
                <tr>
                    <th>Tickets in this booking:</th>
                    <td>{{ ticketcount }}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                {% if userpermissions == 2 %}
                <div class="form-group">
                    <label for="student_tickets">Student tickets (minimum 10):</label>
                    <input type="number" class="form-control" name="student_tickets"
                        value="{{ latest_booking.student_tickets }}" min="10">
                </div>
                {% else %}
                <div class="form-group">
                    <label for="adult_tickets">Adult tickets:</label>
                    <input type="number" class="form-control" name="adult_tickets"
                        value="{{ latest_booking.adult_tickets }}" min="0">
                </div>
                <div class="form-group">
                    <label for="student_tickets">Student tickets:</label>
                    <input type="number" class="form-control" name="student_tickets"
                        value="{{ latest_booking.student_tickets }}" min="0">
                </div>
                <div class="form-group">
                    <label for="child_tickets">Child tickets:</label>
                    <input type="number" class="form-control" name="child_tickets"
                        value="{{ latest_booking.child_tickets }}" min="0">
                </div>
                {% endif %}
                <button type="submit" class="btn btn-primary mt-3" id="update-cart-btn">Update Cart</button>
            </form>


            <!-- Modal -->
            <div class="modal fade" id="not-enough-seats-modal" tabindex="-1" role="dialog"
                aria-labelledby="notEnoughSeatsModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="notEnoughSeatsModalLabel">Not Enough Seats</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Sorry, there are not enough seats available for your booking. Please reduce the number of
                                tickets and try again.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger mt-3" data-toggle="modal" data-target="#cancelModal">Cancel
                Booking</button>

            <!-- Modal -->
            <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="cancelModalLabel">Cancel Booking</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to cancel your unpaid booking for {{ showing.film.title }} on
                            {{showing.date }}?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <form method="post" action="{% url 'cancel_booking' latest_booking.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Yes, cancel my booking</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal CONFIRM-->
            <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmModalLabel">Confirm Booking</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to Confirm your unpaid booking for {{ showing.film.title }} on {{ showing.date }} for £{{ latest_booking.price }}?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <form method="post" action="{% url 'clubrep_payment' booking_id=latest_booking.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success mt-3 float-right">Yes, Confirm my showing!</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            {% if userpermissions == 2 %}
            <!-- CLUB REPRESENTATIVE SECTION -->
            {% if available_seats >= ticketcount %}
            <!-- Button trigger modal -->
            <div class="col-md-6">
                <button type="button" class="btn btn-success mt-3" data-toggle="modal" data-target="#confirmModal">Book Showing</button>
            </div>
            {% else %}
            <div class="col-md-6">
                <button type="button" class="btn btn-success mt-3" data-toggle="modal"
                    data-target="#not-enough-seats-modal">Book Showing</button>
            </div>
            {% endif %}

            {% else %}
            <!-- NORMAL USER SECTION -->
            {% if available_seats >= ticketcount %}
            <form method="post" action="{% url 'payment' booking_id=latest_booking.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-success mt-3">Book Showing</button>
            </form>
            {% else %}
            <div class="col-md-6">
                <button type="button" class="btn btn-success mt-3" data-toggle="modal"
                    data-target="#not-enough-seats-modal">Book Showing</button>
            </div>
            {% endif %}
            {% endif %}
        </div>
    </div>

    {% if latest_booking %}
    <hr>
    <h2>Your Cart</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Ticket Type</th>
                <th>Quantity</th>
                <th>Price per Ticket</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Adult</td>
                <td>{{ latest_booking.adult_tickets }}</td>
                <td>£10</td>
            </tr>
            <tr>
                <td>Student</td>
                <td>{{ latest_booking.student_tickets }}</td>
                <td>£8</td>
            </tr>
            <tr>
                <td>Child</td>
                <td>{{ latest_booking.child_tickets }}</td>
                <td>£6</td>
            </tr>
        </tbody>
    </table>
    <p class="lead">Total Price: £{{ latest_booking.price }}</p>
    {% endif %}
</div>
{% endblock %}