{% extends 'UWEFlix/layout.html' %}

{% block content %}

<div class="row justify-content-center mt-5">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h1 class="card-title">{{ request.user.username }}'s Account</h1>
            </div>
            <div class="card-body">
                <h2>Receipts</h2>
                <ul>
                    {% for receipt in receipts %}
                    <li>{{ receipt.date }} - {{ receipt.showing.film.title }} - Tickets: {{ receipt.student_tickets }} -
                        Price: £{{ receipt.price }}</li>
                    {% empty %}
                    <li>No receipts available.</li>
                    {% endfor %}
                </ul>
                <br>
                <h2>Balance Addition Receipts</h2>
                <ul class="list-group">
                    {% for club_receipt in club_receipts %}
                    <li class="list-group-item">{{ club_receipt.datetime }} - Price: £{{ club_receipt.price }}</li>
                    {% empty %}
                    <li class="list-group-item">No club receipts available.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}