{% extends 'UWEFlix/layout.html' %}

{% block content %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">{{ clubrep.club.name }} Dashboard</h2>
                    <hr>
                    <h4>Account Balance: £{{ account.balance }}</h4>
                    <h4>Discount Rate: {{ clubrep.club.discount_rate }}%</h4>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Add Funds</h2>
                    <hr>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="amount">Amount:</label>
                            <input type="number" class="form-control" id="amount" name="amount" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
