{% extends "UWEFlix/layout.html" %}
{% load static %}

{% block content %}
    <div class="container mt-4">
        <h1>Add a Film</h1>
        <form method="post" class="mb-4">
            {% csrf_token %}
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" required>
            </div>
        
            <div class="form-group">
                <label for="age_rating">Age Rating</label>
                <input type="text" class="form-control" id="age_rating" name="age_rating" required>
            </div>
        
            <div class="form-group">
                <label for="duration">Duration (in minutes)</label>
                <input type="text" class="form-control" id="duration" name="duration" required>
            </div>
        
            <div class="form-group">
                <label for="trailer_description">Trailer Description</label>
                <textarea class="form-control" id="trailer_description" name="trailer_description" rows="3"></textarea>
            </div>
            
            <div class="form-group">
                <label for="imageurl">Image URL</label>
                <input type="text" class="form-control" id="imageurl" name="imageurl" required>
            </div>

            <div class="mb-3"></div>
            <button type="submit" class="btn btn-primary">Add Film</button>
            <a class="btn btn-secondary" href="{% url 'home' %}">Cancel</a>
        </form>
    </div>
{% endblock %}
