{% extends "UWEFlix/layout.html" %}
{% load static %}

{% block content %}

<div class="container my-5">
    <div class="row">
        <div class="col-md-8">
            <h1 class="mb-4">{{ film.title }}</h1>
            <p>{{ film.trailer_description }}</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h4 class="mb-4">Showings{% if selected_date %} on {{ selected_date }}{% endif %}</h4>
            {% if selected_date %}
            {% if showings %}
            <p>Showing on the selected date:</p>
            {% else %}
            <p>Sorry, there are no showings on the selected date.</p>
            {% endif %}
            {% endif %}
            {% if showings %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Date and Time</th>
                        <th>Screen</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for showing in showings %}
                    <tr>
                        <td>{{ showing.date|date:'D d M Y H:i' }}</td>
                        <td>Screen {{ showing.screen.number }}</td>
                        <td>
                            <form method="post" action="{% url 'add_to_cart' showing_id=showing.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary btn-sm">Book Showing</button>
                            </form>                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
