{% extends "UWEFlix/base.html" %}
{% load static %}

{% block content %}

<div class="container mt-5 d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title text-center mb-4">UWEFlix Login</h5>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary btn-block mt-4">Log in</button>
                <a class="btn btn-secondary btn-block mt-2" href="{% url 'registration' %}">Create an account</a>
            </form>
            <form method="post" action="{% url 'login_guest' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary btn-block mt-2" style="background-color: #2788e4;">Log in as guest</button>
            </form>            
        </div>
    </div>
</div>
{% endblock %}
